<div class="jumbotron text-justify">
  <h1 class="display-3">Über uns</h1>
  <p>Die Online-Anlaufstelle Philosophie.ch gibt der Öffentlichkeit ein Instrument zur Hand sich über die akademische Philosophie und Forschung, sowie über andere philosophische Aktivitäten in der Schweiz zu informieren.</p>
  <p>Dazu bietet Philosophie.ch verschiedene Dienstleistungen an. Eine davon ist diese Lernplattform.</p>
</div>