<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Willkommen, Philosophierende!</h1>
  <p class="lead">Der Kurs "Ethik" ist nun verfügbar!</p>
  <hr class="my-4">
  <p>Was ist Ethik und warum sollten wir uns damit beschäftigen? Finde es spielerisch heraus!</p>
  <p class="lead">
    <%= link_to 'Zum Kurs "Ethik"', ethics_path(0), class: "btn btn-primary btn-lg" %>
  </p>
</div>
