<div class="jumbotron text-justify">
  <h1 class="display-3">Was ist Ethik?</h1>
  <br>
  <p>Ethik ist eine philosophische Disziplin, die sich mit der <b>Bewertung menschlichen Handelns</b> auseinandersetzt.</p>
  <p>Im Alltag beurteilen wir oft Handlungen. Wir sagen zum Beispiel, dass einem alten Menschen über die Strasse zu helfen, gut ist, während wir Diebstahl oder Lüge als schlecht beurteilen.
  </p>
  <p>
  Doch warum ist Diebstahl schlecht? Und warum sollten wir alten Menschen über die Strasse helfen? Die Ethik versucht solche Fragen zu beantworten.
  </p>
  <p>
    In diesem Kurs wirst du die Themengebiete und Herangehensweise der Ethik genauer kennen lernen.
  </p>
  <p class="lead">
    <%= link_to "Zur ersten Übung", ethics_path(1), class: "btn btn-primary btn-lg" %>
  </p>
</div>