<div class="jumbotron text-justify">
  <h1 class="display-3">Probleme im Konsequentialismus</h1>
  <br>
  <p>
   Der Konsequentialismus wird von einigen Philosophinnen und Philosophen vertreten. Doch er ist nicht ganz ohne Probleme.
  </p>
  <p>
    Ein Problem ist, dass wir Menschen manchmal <b>nicht in der Lage sind, die Folgen einer Handlung vorherzusehen oder abzuschätzen</b>.
    Wenn wir die Folgen einer Handlung nicht vorhersehen können, woher sollen wir dann wissen, wie wir zu handeln haben?
    Zum Beispiel: Stell dir vor du bist ein Polizist und vermittelst bei einer Geiselnahme. Der Geiselnehmer verlangt 100'000 Franken und neue Waffen, wie Pistolen oder Gewehre.
    Da der Geiselnehmer unbekannt ist, ist es ziemlich schwierig, vielleicht sogar unmöglich, abzuschätzen, wie der Geiselnehmer sich verhalten wird.
    Was wird er mit dem Geld und den neuen Waffen tun? Wird er sich noch mehr Geiseln holen? Wird er das Geld und die Waffen für noch schlimmere kriminelle Aktivitäten verwenden?
    Ob man auf die Forderung des Geiselnehmers eingehen soll oder nicht, scheint keine einfache Frage zu sein.
  </p>
  <p>
    Ein weiteres Problem ist, dass der Konsequentialismus <b>Handlungen erlaubt oder verlangt, die man an sich als "schlecht" beurteilt</b>.
    Von früh an wird uns immer gesagt, dass man nicht lügen soll. Doch nach dem Konsequentialismus sind die Folgen einer Handlung wichtig, nicht die Handlung an sich.
    Wenn die Situation nun so ist, dass man mit einer Lüge mehr gute Folgen hervorbringt, als schlechte Folgen, dann rät der Konsequentialismus dazu, dass wir lügen sollten.
    Das gleiche gilt auch für andere Handlungen, wie etwa Diebstahl, das Brechen von Versprechen oder sogar Mord.
    Wenn also Robin Hood, der Held einer englischen Saga, die Reichen bestiehlt und das Geld den bedürftigten Armen gibt, dann handelt Robin Hood ganz im Sinne des Utilitarismus',
    weil er so mehr Menschen glücklich macht, als wenn er nichts täte.
  </p>
  <p>
    Ein nächstes Problem ist, dass der Konsequentialismus die <b>Absichten hinter den Handlungen zu ignorieren scheint</b>.
    Für viele von uns macht es einen Unterschied, ob jemand etwas absichtlich tut oder nur aus Versehen.
    Wenn jemand aus Versehen seinen Kaffee auf unsere Hose schüttet, dann ist das bestimmt ärgerlich, aber nicht weiter schlimm.
    Doch wenn jemand absichtlich den Kaffee auf unsere Hose schüttet, dann ist das nicht nur ärgerlich, sondern auch gemein.
    Doch nach dem Konsequentialismus ist eine Handlung gut, wenn sie gute Folgen hat, die Absichten hinter den Handlungen sind irrelevant. So besteht die Möglichkeit, dass jemand
    mit bösen oder schlechten Absichten etwas gutes tun kann. Wollen wir das so akzeptieren?
  </p>
</div>

<%= link_to "Weiter", ethics_path(3), class: "btn btn-primary btn-lg" %>
