<div class="jumbotron text-justify yellowish">
  <h1 class="display-3">1. Problem</h1>
  <br>
  <p>
    Ein Problem ist, dass in der Deontologie <b>Konflikte zwischen Handlungen</b> entstehen können.
  </p>
  <p>
    Zum Beispiel: Stell dir vor, du bist Arzt und hast den hippokratischen Eid geleistet. Nun liegt ein guter Freund von dir im Sterben.
    Er leidet unter einer sehr schmerzhaften Krankheit und keine Heilung ist in Sichtweite. Er möchte, dass du ihm von seinen Qualen erlöst.
  </p>
  <p>
    Hier ist ein Konflikt entstanden: Einerseits verlangt der hippokratische Eid, <b>niemanden zu töten</b>, andererseits möchtest du <b>dem verständlichen Wunsch deines Freundes nachkommen</b>.


    Ein Problem ist, dass wir Menschen manchmal <b>nicht in der Lage sind, die Folgen einer Handlung vorherzusehen oder abzuschätzen</b>.
    Wenn wir die Folgen einer Handlung nicht vorhersehen können, woher sollen wir dann wissen, wie wir zu handeln haben?
  </p>
  <%= link_to "Weiter", ethics_path("kbadactions"), class: "btn btn-primary btn-lg" %>
</div>

