<div class="jumbotron text-justify yellowish">
  <h1 class="display-3">2. Problem</h1>
  <br>
  <p>
    Ein Problem ist, dass deontologische Antworten <b>in bestimmten Fällen kontraintuitiv sind</b>.
  </p>
  <p>
    Angenommen, du bist ein Jude und lebst in Nazi-Deutschland. Die Gestapo fragt dich, ob du ein Jude bist.
    Wenn du lügst, dann lassen sie dich am Leben. Sonst nicht.
  </p>
  <p>
    Da Lügen in vielen deontologischen Theorien intrinsisch schlecht sind, müsstest du auch in dieser
    Situation die Wahrheit sagen. Würdest du es tun?
  </p>
  <%= link_to "Weiter", ethics_path("whatareyou"), class: "btn btn-primary btn-lg" %>
</div>

