<div class="jumbotron text-justify yellowish">
  <h1 class="display-3">2. Problem</h1>
  <br>
  <p>
    Ein weiteres Problem ist, dass der Konsequentialismus <b>Handlungen erlaubt oder verlangt, die man an sich als "schlecht" beurteilt</b>.
  </p>
  <p>
    Von früh an wird uns immer gesagt, dass man nicht lügen soll. Doch nach dem Konsequentialismus sind die Folgen einer Handlung wichtig, nicht die Handlung selbst.
    Wenn die Situation nun so ist, dass man mit einer Lüge mehr gute Folgen hervorbringt, als schlechte Folgen, dann rät der Konsequentialismus dazu, dass wir lügen sollten.
    Das gleiche gilt auch für andere Handlungen, wie etwa Diebstahl, das Brechen von Versprechen oder sogar Mord.
  </p>
  <p>
    Wenn also Robin Hood, der Held einer englischen Saga, die Reichen bestiehlt und das Geld den bedürftigten Armen gibt, dann handelt Robin Hood ganz im Sinne des Utilitarismus',
    weil er so mehr Menschen glücklich macht, als wenn er nichts täte.
  </p>
  <%= link_to "Weiter", ethics_path("kintention"), class: "btn btn-primary btn-lg" %>
</div>

