<div class="jumbotron text-justify yellowish">
  <h1 class="display-3">3. Problem</h1>
  <br>
  <p>
    Ein nächstes Problem ist, dass der Konsequentialismus die <b>Absichten hinter den Handlungen zu ignorieren scheint</b>.
    Für viele von uns macht es einen Unterschied, ob jemand etwas absichtlich tut oder nur aus Versehen.
    Wenn jemand aus Versehen seinen Kaffee auf unsere Hose schüttet, dann ist das bestimmt ärgerlich, aber nicht weiter schlimm.
    Doch wenn jemand absichtlich den Kaffee auf unsere Hose schüttet, dann ist das nicht nur ärgerlich, sondern auch gemein.
    Doch nach dem Konsequentialismus ist eine Handlung gut, wenn sie gute Folgen hat, die Absichten hinter den Handlungen sind irrelevant.
    Ob jemand aus Rache, Hass oder aus gut-gemeinten Absichten handelt, spielt für den Konsequentialismus keine Rolle.
    So besteht die Möglichkeit, dass jemand mit bösen oder schlechten Absichten etwas gutes tun kann. Wollen wir das so akzeptieren?
  </p>
  <%= link_to "Weiter", ethics_path(3), class: "btn btn-primary btn-lg" %>
</div>

