<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

<% i = 0 %>
<div class="row">

  <% @memory.each do |card| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="yellowish buffer">
          <%= card[0] %>
        </div>
      </div>
  <% end %>

</div>
<script>
    $(document).ready(function() {

        $(".flip").flip();

    });
</script>