@import "bootstrap-sprockets";
@import "bootstrap";

.philobackground {
  background-color: #E6E5E6;
  padding-top: 10px;
  padding-bottom: 10px;
}

table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }